body{
    background-color: black;
}

li{
    list-style: none;
}

.nav{
    display: flex;
}

.nav li{
    color: white;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.nav li:hover{
    color: red;
    text-decoration: underline;
}
#content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content *{
    width: 25vw;
    max-width: 750px;
}